* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans';
}

ul{
    list-style: none;
}

a{
	text-decoration: none;
	color: black;
	font-weight: 500;
}

main{
	margin-top: 80px;
}
.container60 {
	width: 60%;
	margin: 0 auto;
}

.container50 {
	width: 50%;
	margin: 0 auto;
}

.flex{
	display: flex;
}

.blue-button{
	background-color: #0160ff;
	color: white;
	padding: 10px 20px;
	
}

.white-button{
	background-color: #fff;
	color: black;
	padding: 10px 20px;
	border: 1px solid black;
	
}
/* Header */
.main-header{
	height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
	right: 0;
	left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px;
	background-color: #fff;
}
.main-header ul > li{
    display: inline-block;
    margin-right: 15px;
}
.left-nav, .right-nav{
    display: flex;
    align-items: center;
}

.left-nav{
	gap: 20px;
}



/* Jumbotron */
.jumbotron{
    background-color: #b4d0e6;
	height: 650px;
}

h1{
	font-size: 4.2rem;
	font-weight: 900;
	padding-top: 80px;
	text-justify: distribute;
	margin-bottom: 50px;
}

.jumbotron-layout{
	display: flex;
}

.jumbotron-right{
flex-basis: 30%;
display: flex;
flex-direction: column;
gap: 35px;
align-items: flex-start;
}

.jumbotron-left{
flex-basis: 70%;
}

.jumboimg{
	width: 100%;
}

.jumbotron-right p{
	font-size: 14px;
}

/* PlanGrid */

.plangrid{
	margin-top: 130px;
}

h2{
	font-size: 2rem;
	margin-bottom: 40px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.fatturazione{
	display: flex;
	gap: 40px;
}

.fatturazione > .firstchoice *,
.fatturazione > .secondchoice *{
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

.c-blue{
    border: 5px solid #0061ff;
}
.c-light{
    border: 3px solid #d0d0d3;
}

/* Piani */

.plan.row{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.title-card{
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}
.card-choice{
    border: 1px solid #d0d0d3;
    width: calc(100% / 3 - 30px);
}
.subtitle-card > .euro{
    font-weight: bold;
}
.details-card > hr{
    width: 15%;
}
.details-card > h5{
    font-weight: bold;
}
.fa-check{
    color: blue;
}
.details-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 20px 50px 20px;
    font-size: 0.9rem;
}
.subtitle-card h4{
    margin: 25px 25px;
    font-weight: bold;
    font-size: 1.3rem;
}
.subtitle-card > *{
    margin: 0 25px;
}

.plan-team{
    border: 1px solid #d0d0d3;
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
	position: relative;
}

.plan-team .blue-button{
	position: absolute;
	top: 70px;
	right: 20px;
}

.plan-team .subtitle-card{
	width: 60%;
}

/* PARTNERS */

.partners{
	margin-top: 100px;
}

.partners-layout{
	display: flex;
}

.partners-layout > figure{
	flex-basis: 60%;
}

.partners-layout div{
	flex-basis: 40%;
	padding-top: 50px;
	padding-left: 50px;
}

.partners-layout figure img{
	width: 100%;
}
.partners-layout div h4{
 font-size: 1.5rem;
 margin-bottom: 20px;
}

.partners-layout div p{
	margin-bottom: 50px;
}