* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans';
}

ul{
    list-style: none;
}


main{
	margin-top: 80px;
}
.container60 {
	width: 60%;
	margin: 0 auto;
}

.container50 {
	width: 50%;
	margin: 0 auto;
}

.flex{
	display: flex;
}

.blue-button{
	background-color: #0160ff;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
	
}

.white-button{
	background-color: #fff;
	color: black;
	padding: 10px 20px;
	border: 1px solid black;
	cursor: pointer;
	text-decoration: none;
	
}
/* Header */
.main-header{
	height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
	right: 0;
	left: 0;
    z-index: 1;
    width: 100%;
    padding: 20px;
	background-color: #fff;
}
.main-header ul > li{
	display: inline-block;
    margin-right: 15px;
	
}
.left-nav, .right-nav{
	display: flex;
    align-items: center;
}

.left-nav{
	gap: 20px;
}

.main-header li a{
	text-decoration: none;
	color: black;
	font-weight: 500;
	padding-bottom: 25px;
	padding-top: 25px;
}

.main-header li a:hover{
	border-bottom: 4px solid #0160ff;
	color: black;
	
	text-decoration: none;
	
}


/* Jumbotron */
.jumbotron{
	background-color: #b4d0e6;
	height: 650px;
}

h1{
	font-size: 4.2rem;
	font-weight: 900;
	padding-top: 80px;
	text-justify: distribute;
	margin-bottom: 50px;
}

.jumbotron-layout{
	display: flex;
}

.jumbotron-right{
flex-basis: 30%;
display: flex;
flex-direction: column;
gap: 35px;
align-items: flex-start;
}

.jumbotron-left{
flex-basis: 70%;
}

.jumboimg{
	width: 100%;
}

.jumbotron-right p{
	font-size: 14px;
}

/* PlanGrid */

.plangrid{
	margin-top: 130px;
}

h2{
	font-size: 2rem;
	margin-bottom: 40px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.fatturazione{
	display: flex;
	gap: 40px;
}

.fatturazione > .firstchoice *,
.fatturazione > .secondchoice *{
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

.c-blue{
    border: 5px solid #0061ff;
}
.c-light{
    border: 3px solid #d0d0d3;
}

/* Piani */

.plan.row{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.title-card{
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}
.card-choice{
    border: 1px solid #d0d0d3;
    width: calc(100% / 3 - 30px);
}
.subtitle-card > .euro{
    font-weight: bold;
}
.details-card > hr{
    width: 15%;
}
.details-card > h5{
    font-weight: bold;
}
.fa-check{
    color: blue;
}
.details-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 20px 50px 20px;
    font-size: 0.9rem;
}
.subtitle-card h4{
    margin: 25px 25px;
    font-weight: bold;
    font-size: 1.3rem;
}
.subtitle-card > *{
    margin: 0 25px;
}

.plan-team{
    border: 1px solid #d0d0d3;
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
	position: relative;
}

.plan-team .blue-button{
	position: absolute;
	top: 70px;
	right: 20px;
}

.plan-team .subtitle-card{
	width: 60%;
}

/* PARTNERS */

.partners{
	margin-top: 100px;
}

.partners-layout{
	display: flex;
}

.partners-layout > figure{
	flex-basis: 60%;
}

.partners-layout div{
	flex-basis: 40%;
	padding-top: 50px;
	padding-left: 50px;
}

.partners-layout figure img{
	width: 100%;
}
.partners-layout div h4{
 font-size: 1.5rem;
 margin-bottom: 20px;
}

.partners-layout div p{
	margin-bottom: 50px;
}

/* Operations */
.dropbox-business{
    margin-top: 100px;
}
.dropbox-business > h1{
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.dropbox-business h4{
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.dropbox-business-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.block{
    width: calc(100% / 3 - 10px);
}

.dropbox-business img{
	width: 100%;
}

/* STATS */
.stats > h4{
    font-size: 2.5rem;
    margin: 150px 0px 50px 0px;
    font-weight: bold;
}
.stats > a{
    margin-bottom: 0px;
}

/* LOGO GRID */
.row{
    display: flex;
}
.col-1-3{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.square-logo{
    width: 50%;
    height: calc(100vw / 3 / 2);
    position: relative;
	cursor: pointer;
}
.col-1-3.square-col{
    position: relative;
    background-color: #f5f5f5;
}
.square-logo img,
.square-col-img{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square-logo img{
	filter: invert();
}
.logo-grid{
    margin-top: 80px;
}
.square-col{
    overflow: auto;
    height: calc(100vw / 3);
	cursor: pointer;
}

.square-logo:hover{
	border: 10px solid white;
}
.img-cover{
display: none;
width: 80%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 0;
}

.square-col:hover .img-cover{
	display: inline;
}


/* UTILITY */
/* Color BG */
.green-bg{
	background-color: #a2d39b;
	border: 20px solid #d1e9cd;
}
.violet-bg{
	background-color: #61082b;
}
.orange-bg{
	background-color: #ff1c1c;
}
.lightblue-bg{
	background-color: #0093ce;
}
.red-bg{
	background-color: #d5001f;
}
.blue-bg{
	background-color: #0d2481;
}
.light-bg{
	background-color: #b4d0e7;
}
.yellow-bg{
	background-color: #ffd830;
}

/* FREE TRIAL */

.free-trial{
	min-height: 300px;
	display: flex;
	gap: 200px;
	justify-content: center;
	align-items: center;
	
}

.trial-right{
	padding-bottom: 70px;
	
}

.trial-left h2{
	color:#641b41;
}

/* FAQ */

.FAQ{
	margin-top: 60px;
}

.question{
	display: flex;
	justify-content: space-between;
	
	padding: 30px 0px 30px 0px;
}

.topborder{
	border-top: 1px solid black;
}

.FAQ i{
	margin-right: 30px;
	cursor: pointer;
}

.faq-answer p{
	font-weight: 600;
	padding-bottom: 30px;
	display: none;
}

.question:hover + .faq-answer p{
	display: block;
}

/* FOOTER */

footer {
	margin-top: 100px;
	background-color: #000;
}
.top-footer{
    display: flex;
	justify-content: space-between;
}

.footer-product > ul > li{
	padding-bottom: 20px;
}
.footer-product > ul > li > a{
	color: white;
	text-decoration: none;
}
.footer-col > h3{
	margin: 60px  0 30px ;
	color: white;
	font-weight: bold;
    font-size: 1.5rem;
}
.all-footer > hr{
    margin: 50px 0;
    width: 20%;
}
.footer-col {
	margin-top: 15px;
	width: calc(100% / 5);
}

.footer-bottom {
	display: flex;
	justify-content:flex-start;
	align-items: center;
    gap: 10px;
    padding-bottom: 30px;
	cursor: pointer;
}


.footer-bottom > * {
	color: white;
}
